
body {
  font-family: arial, helvetica, sans-serif;
    height: 8px;
    top: 25px;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    background: #11Fabc;
}

.irs-bar {
    height: 8px;
    top: 25px;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    background: #11Fabc;
}

/*.irs-bar {
    height: 8px;
    top: 25px;
    border-top: 1px solid #;
    border-bottom: 1px solid #;
    background: #;
}
*/